<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link type="text/css" rel="stylesheet" href="../css/styles.css">
	<link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"	media="screen,projection"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../js/daftarKaryawan.js"></script>
	<script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
	<title>Daftar Karyawan</title>
</head>
<body>
	<h4>Daftar Karyawan</h4>
	<div style="display:flex; margin-top: 20px;">
		<div class="containerSelectLogo valign-wrapper">
			<i class="material-icons">search</i>
			<p style="margin-right:3px;">Cari :</p>
			<div class="input-field containerSearch valign-wrapper z-depth-1">
				<input id="searchKaryawan" type="text" placeholder="Ketik nama karyawan"/>
			</div>	
		</div>
		<div class="containerSelectLogo valign-wrapper">
			<i class="material-icons">dashboard</i>
			<p>Filter berdasarkan Jabatan :</p>
			<div class="input-field containerSelect valign-wrapper z-depth-1">
				<select id="filterKaryawan">
					<option value="0">Semua Jabatan</option>
					<option value="1">Staff</option>
					<option value="2">Superior</option>
          <option value="3">Admin</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row" id="daftarKaryawan">
	</div>
	<a class="waves-effect waves-light btn btn-white right modal-trigger" href="#modalTambahKaryawan" style="margin: 10px 10px 0 0;">tambah</a>	
  <div id="modalDetailKaryawan" class="modal modal-fixed-footer">
	</div>
	<div id="modalTambahKaryawan" class="modal modal-fixed-footer">
		<div class="modal-content">
		<h4 class="headerModal">Tambah Karyawan</h4>
			<div class="valign-wrapper" style="width:100%">
				<table class="tableNoBorder smallPadding">
					<tr>
						<td class="tdAtrib" width="120">ID</td>
						<td>
							<textarea name="NamaKaryawan" cols="30" rows="1"></textarea>
						</td>
					</tr>
					<tr>
						<td class="tdAtrib">Nama</td>
						<td>
							<textarea name="NamaKaryawan" cols="30" rows="1"></textarea>
						</td>
					</tr>
					<tr>
						<td class="tdAtrib">Jenis Kelamin</td>
						<td>
							<div class="input-field containerSelect valign-wrapper" style="background-color:transparent">
								<select>
									<option disabled value="0">Jenis Kelamin</option>
									<option value="1">Perempuan</option>
									<option value="1">Laki-laki</option>
								</select>
							</div>					
						</td>
					</tr>
					<tr>
						<td class="tdAtrib">Foto</td>
						<td>
							<input id="fileupload" type="file" name="files[]" style="padding:0">
						</td>
					</tr>		
					<tr>
						<td class="tdAtrib">Alamat</td>
						<td>
							<textarea class="formLarge" name="AlamatKaryawan" cols="30" rows="1"></textarea>
						</td>
						</tr>
					<tr>
						<td class="tdAtrib">Tanggal Lahir</td>
						<td class="tdInfo">
							<textarea name="TanggalLahir" cols="30" rows="1"></textarea>
						</td>
					</tr>
					<tr>
						<td class="tdAtrib">Jabatan</td>
						<td>
							<div class="input-field containerSelect valign-wrapper" style="background-color:transparent">
								<select>
									<option disabled value="0">Jabatan</option>
									<option value="1">Staff</option>
									<option value="1">Superior</option>
								</select>
							</div>					
						</td>
					</tr>
					<tr>
						<td class="tdAtrib">No HP</td>
						<td>
							<textarea name="hpKaryawan" cols="30" rows="1"></textarea>
						</td>
					</tr>
					<tr>
						<td class="tdAtrib">email</td>
						<td>
							<textarea name="emailKaryawan" cols="30" rows="1"></textarea>
						</td>
					</tr>
				</table>
			</div>
		</div>
    <div class="modal-footer">
			<a href="#!" class="modal-close btn-flat left">tutup</a>
    </div>
	</div>
</body>
</html>