<script type="text/javascript" src="../js/daftarBarangCard.js"></script>
<h4>Daftar Barang Inventaris</h4>
<div style="display:flex; margin-top: 20px;">
    <div class="containerSelectLogo valign-wrapper">
        <i class="material-icons">sort</i>
        <p>Urutkan :</p>
        <div class="input-field containerSelect valign-wrapper z-depth-1">
            <select id="selectUrutkan">
                <option value="1">Nama</option>
                <option value="2">ID Barang</option>
            </select>
        </div>
    </div>
    <div class="containerSelectLogo valign-wrapper">
        <i class="material-icons">dashboard</i>
        <p>Kategori :</p>
        <div class="input-field containerSelect valign-wrapper z-depth-1">
            <select id="selectKategori">
                <option value="1">Semua Kategori</option>
                <option value="2">Elektronik</option>
            </select>
        </div>
    </div>
</div>
<div class="row" id="daftarProduk">
    <a class="col s6 l2 m3 modal-trigger productCard" href="#modalDetailPinjam">
        <div class="card">
            <div class="card-image">
                <img src="../../images/samsungTab.png">
            </div>
            <div class="card-content">
                <p>TBL0002</p>
                <p>Samsung Galaxy Tab S3</p>
            </div>
        </div>
    </a>
</div>
<div id="modalDetailPinjam" class="modal modal-fixed-footer">
<div id="detailBarangCard" class="modal-content" style="padding: 5px 30px 5px 30px !important">
        <div>
            <img src="../../images/samsungTab.png" style="height:300px; width:auto"/>
        </div>
        <div>
            <table class="tableNoBorder">
                <tr>
                    <td class="tdAtrib" width="120">Kode</td>
                    <td class="tdInfo">TBL0003</td>
                </tr>
                <tr>
                    <td class="tdAtrib">Nama Barang</td>
                    <td class="tdInfo">Samsung Galaxy Tab S3</td>
                </tr>
                <tr>
                    <td class="tdAtrib">Kategori</td>
                    <td class="tdInfo">Elektronik</td>
                </tr>
                <tr>
                    <td class="tdAtrib">Kuantitas</td>
                    <td class="tdInfo">7</td>
                </tr>
                <tr>
                    <td class="tdAtrib">Deskripsi</td>
                    <td class="tdInfo">
                        2.15GHz, 1.6GHz CPU Speed.
                        9.7 (245.8mm) Ukuran (Main Display)
                        CMOS 13.0 MP Main Camera - Resolution.
                        434 Weight (g)
                        Up to 12 Video Playback Time (Hours)
                        6000 Standard Battery Capacity (mAh)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="pinjamBarang" class="modal-content valign-wrapper">
        <table class="tableNoBorder">
            <tr>
                <td class="tdAtrib">Kode Barang</td></td>
                <td id="formKodePinjam">82738264</td>
            </tr>
            <tr>
                <td class="tdAtrib">Tanggal Order</td>
                <td id="dateOrderNow">03 Jan 2018</td>
            </tr>
            <tr>
                <td class="tdAtrib">Untuk tanggal</td>
                <td>
                    <input id="inputDate" type="date" style="width: 200px"/>
                </td>
            </tr>
            <tr>
                <td class="tdAtrib">Sebanyak</td>
                <td>
                    <input type="number" id="inputTotalOrder" value="1" min="1" style="width: 200px"/>
                </td>
            </tr>
            <tr>
                <td class="tdAtrib">Keterangan</td>
                <td>
                    <textarea id="keteranganPinjam" name="Text1" cols="30" rows="5" placeholder="(opsional)" style="height: 80px;"></textarea>
                </td>
            </tr>
        </table>
    </div>
<div class="modal-footer">
        <a class="modal-close btn-flat left">tutup</a>
        <a id="buttonBackToDetailCard" class="btn-flat left">kembali</a>
        <a id="buttonPinjam" class="waves-effect waves-light btn" style="margin-right: 4px;">pinjam</a>
        <a id="buttonRequestPinjam" class="waves-effect waves-light btn" style="margin-right: 4px;">kirim</a>
</div>
</div>