
	<h4>Daftar Barang Inventaris</h4>
	<div style="display:flex; margin-top: 20px;">
		<div class="containerSelectLogo valign-wrapper">
			<i class="material-icons">search</i>
			<p style="margin-right:3px;">Cari :</p>
			<div class="input-field containerSearch valign-wrapper z-depth-1">
					<input id="searchTabelBarang" type="text" placeholder="Ketik yang ingin dicari"/>
			</div>	
		</div>
		<div class="containerSelectLogo valign-wrapper">
			<i class="material-icons">dashboard</i>
			<p>Kategori :</p>
			<div class="input-field containerSelect valign-wrapper z-depth-1">
				<select id="selectorKategoriTable">
					<option value="0">Semua Kategori</option>
				</select>
			</div>
		</div>
	</div>
	<div id="whiteBoard"  class="z-depth-2"  style="position:absolute">
		<table class="highlight noPadding">
			<thead>
				<tr>
          <th style="width: 50px; padding-top: 7px;"><p><label><input type="checkbox" id="cbxAllBarang" class="cbxBarang"/><span></span></label></p></th>
					<th width="150px">ID Barang</th>
					<th>Nama Barang</th>
					<th width="200px">Kategori</th>
					<th width="150px">Harga Beli</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="tabelDaftarBarang">
			</tbody>
		</table>
		<a class="waves-effect waves-light btn right kananBawah modal-trigger" href="#modalTambahProduk">tambah</a>
    <a class="waves-effect waves-light btn right kananBawah modal-trigger disabled" href="#modalTambahProduk" id="btnDeleteSelectedBarang">hapus</a>
	</div>
  <div id="modalDetailBarangTable" class="modal modal-fixed-footer">
		<div class="modal-content">
			<div id="detailBarangTable">
				<h4 class="headerModal">Detail Barang</h4>
				<div class="valign-wrapper">
          <div class="kontainerImgModal" id="imgModalBarang" style="background-image: url('/a.jpg');">
          </div>
					<div>
						<table class="tableNoBorder">
							<tr>
								<td class="tdAtrib" width="120">Kode</td>
								<td class="tdInfo" id="kodeBarangTable"></td>
							</tr>
							<tr>
								<td class="tdAtrib">Nama Barang</td>
								<td class="tdInfo" id="namaBarangTable"></td>
							</tr>
              <tr>
                <td class="tdAtrib">Kategori</td>
                <td class="tdInfo" id="kategoriBarangTable"></td>
              </tr>
              <tr>
                <td class="tdAtrib">Harga Beli</td>
                <td class="tdInfo" id="hargaBeliBarangTable"></td>
              </tr>
							<tr>
								<td class="tdAtrib">Jumlah Unit</td>
								<td class="tdInfo" id="totalUnitTable"></td>
							</tr>
							<tr>
								<td class="tdAtrib">Unit Tersedia</td>
								<td class="tdInfo" id="unitTersediaTable"></td>
							</tr>
              <tr>
                <td class="tdAtrib">Deskripsi</td>
                <td class="tdInfo" id="deskripsiBarangTable"></td>
              </tr>
            </table>
					</div>
				</div>
				<div class="" style="border-radius: 2px; border: 1px solid rgb(221, 221, 221); padding: 5px;">
					<table class="highlight">
						<thead>
							<tr>
								<th>ID Satuan</th>
                <th>Status</th>
                <th>Nama Peminjam</th>
                <th>Tanggal Peminjaman</th>
                <th></th>
              </tr>
  					</thead>
	  				<tbody id="tabelDaftarBarangSatuan">
					</tbody>
          </table>
				</div>
			</div>
			<div id="editBarangTable">
				<h4 class="headerModal">Ubah Detail Barang</h4>
				<div class="valign-wrapper" style="display:flex">
					<div style="width: 100%;">
						<table class="tableNoBorder smallPadding">
							<tr>
								<td class="tdAtrib">Nama Barang</td>
                <td class="tdInfo">
                  <form>
                    <input id="ubahNamaBarang" name="id" value="">
                  </form>
                </td>
							</tr>
							<tr>
								<td class="tdAtrib">Kategori</td>
								<td>
									<div class="input-field containerSelect valign-wrapper" style="background-color:transparent">
										<select class="kategoriSelectorTable browser-default" id="ubahKategoriBarang">
										</select>
									</div>					
								</td>
							</tr>
							<tr>
								<td class="tdAtrib">Harga Beli</td>
                <td class="tdInfo">
                  <form>
                    <input id="ubahHargaBeliBarang" name="id" value="">
                  </form>
                </td>
							</tr>
							<tr>
								<td class="tdAtrib">Gambar Produk</td>
								<td>
									<input id="ubahGambarProduk" type="file" name="files[]" value="" style="padding:0">
								</td>
							</tr>
							<tr>
								<td class="tdAtrib">Deskripsi</td>
                <td class="tdInfo">
                  <form>
                    <input id="ubahdeskripsiBarang" name="id" value="">
                  </form>
                </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div id="tambahSatuanTable">
				<h4 class="headerModal">Tambah Barang Satuan</h4>
				<div id="tambahBarangSatuan" style="margin-top: 10px">
          <div class="valign-wrapper">
            <div class="tdAtrib" style="width:100px;">ID Satuan</div>
            <textarea class="barangSatuan" name="satuan" cols="30" rows="1" style="height:30px; padding: 5px 0 0 5px;"></textarea>
          </div>
				</div>
				<a class="waves-effect waves-light btn" id="triggerTambahBarangSatuan" style="margin: 10px 0 0 285px;">tambah lagi</a>
			</div>
		</div>
    <div class="modal-footer">
			<a href="#!" class="modal-close btn-flat left clickDetailTable">tutup</a>
			<a id="backToDetailTable" href="#" class="btn-flat left clickDetailTable">kembali</a>
      <a id="tombolHapusBarang" class="modal-close waves-effect waves-light btn">hapus</a>
			<a id="tombolEditBarang" class="waves-effect waves-light btn clickEditTable">ubah</a>
			<a id="clickTambahSatuan" class="waves-effect waves-light btn">tambah satuan</a>
			<a id="tombolSimpanEditan" class="modal-close waves-effect waves-light btn">simpan</a>
			<a id="tombolSimpanSatuan" class="modal-close waves-effect waves-light btn">simpan</a>
    </div>
	</div>
  <div id="modalTambahProduk" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4 class="headerModal">Tambah Barang Inventaris</h4>
			<table class="tableNoBorder smallPadding">
				<tr>
					<td class="tdAtrib">ID Barang</td>
					<td>
            <form>
              <input id="idBarangBaru" name="id" value="">
            </form>
          </td>
				</tr>
				<tr>
					<td class="tdAtrib">Nama Barang</td>
          <td>
            <form>
              <input id="namaBarangBaru" name="id" value="">
            </form>
          </td>
				</tr>

				<tr>
				<tr>
					<td class="tdAtrib">Kategori</td>
					<td>
						<div class="input-field containerSelect valign-wrapper" style="background-color:transparent">
							<select class="kategoriSelectorTable" id="kategoriBarangBaru">
							</select>
						</div>					
					</td>
				</tr>
				<tr>
					<td class="tdAtrib">Harga Beli</td>
          <td style="display: flex">
            <p>Rp&emsp;</p>
            <form>
              <input type="number" id="hargaBarangBaru" name="id" value="">
            </form>
          </td>
				</tr>
				<tr>
					<td class="tdAtrib">Gambar Barang</td>
					<td>
						<input id="gambarBarangBaru" type="file" name="files[]" style="padding:0">
					</td>
				</tr>
				<tr>
					<td class="tdAtrib">Deskripsi</td>
          <td>
            <form>
              <input id="deskripsiBarangBaru" name="id" value="">
            </form>
          </td>
				</tr>
			</table>
		</div>
    <div class="modal-footer">
			<a href="#!" class="modal-close btn-flat left">tutup</a>
			<a class="modal-close waves-effect waves-light btn" id="submitBarangBaru" style="margin-right: 4px;">kirim</a>
    </div>
	</div>
  <script type="text/javascript" src="../js/daftarBarangTable.js"></script>