<script type="text/javascript" src="../JS/homeAdmin.js"></script>
<header style="z-index: 3;">
	<nav>
		<div class="nav-wrapper">
			<a><img class="brand-logo imgLogo" src="../../images/logo2.png"/></a>
			<a data-target="mobileEmployee" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><input type="text" id="inputSearch" placeholder="Ketik barang yang ingin anda cari"/></li>
				<li><i class="material-icons right" id="iconSearch" style="font-size: 35px;">search</i></li>
				<li><img class="circle responsive-img" id="imgPerson" src="../../images/iconPerson.png"/></li>
				<li><a class="dropdown-trigger" data-target="menuDropdownEmployee"><i class="material-icons" id="iconMenu">menu</i></a></li>
			</ul>
		</div>
	</nav>
	<ul id="menuDropdownEmployee" class="dropdown-content">
		<li><a id="klikDaftarBarang">Daftar Barang inventaris</a></li>
		<li class="divider"></li>
		<li><a id="klikTambahBulk" class="modal-trigger" href="#modalTambahBulk">Tambah Barang secara Bulk</a></li>
		<li class="divider"></li>
		<li><a id="klikPengembalianBarang">Pengembalian Barang Inventaris</a></li>
		<li class="divider"></li>
		<li><a id="klikRequestBeliBarang" class="modal-trigger" href="#modalBeliProduk">Buat Permintaan Pembelian Barang Inventaris</a></li>
		<li class="divider"></li>
		<li><a id="klikDaftarKaryawan">Daftar Karyawan</a></li>
		<li class="divider"></li>
		<li><a id="klikPermintaanKaryawan">Daftar Permintaan Peminjaman Karyawan</a></li>
		<li class="divider"></li>
		<li><a id="klikPermintaanPembelianKaryawan">Daftar Permintaan Pembelian Karyawan</a></li>
		<li class="divider"></li>
		<li><a id="klikDaftarKategori">Daftar Kategori Barang</a></li>
		<li class="divider"></li>
		<li><a id="klikBackupRestore" class="modal-trigger" href="#modalBackup">Backup dan Restore</a></li>
		<li class="divider"></li>
        <li><a href="http://localhost:8080/" id="klikLogout">Logout</a></li>
	</ul>
</header>
<div style="height:64px;" ></div>
<div class="kontainer">
	<div id="includePageContent" style="position:absolute; width:inherit"></div>
</div>
<div id="modalTambahBulk" class="modal modal-fixed-footer">
	<form id="formTambahBulk">
		<div class="modal-content">
			<h4 class="headerModal">Tambah Barang secara Bulk</h4>
			<p style="padding-top:80px;"> File barang (.xlsx) : &ensp;<input id="fileExcel" type="file" accept=".xlsx" name="fileExcel" style="padding:0"> </p>
			<p style="padding-top:40px;"> File gambar (.zip) : &ensp;<input id="fileGambar" type="file" accept=".zip" name="fileGambar" style="padding:0"> </p>
			<p> Catatan : <br> File Excel yang dipilih harus menggunakan format penulisan untuk penambahan produk yang sudah ditetapkan.
			<br> Format file dapat diunduh <a id="btnDownloadFormatTambahBarangBulk" href="http://127.0.0.1:8000/file-to-print/format-tambah-barang-bulk.xlsx" download>disini</a>
			<br> File gambar (.zip) berisi gambar yang filename nya sama dengan yang ada di dalam kolom gambar pada file excel.</p>
		</div>
		<div class="modal-footer">
			<a class="modal-close btn-flat left">tutup</a>
			<input type="submit" id="btnUpdateBulk" value="kirim" class="waves-effect waves-light btn" style="margin-right: 4px;">
		</div>
	</form>
</div>
<div id="modalBeliProduk" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4 class="headerModal">Request Pembelian Barang</h4>
		<br/>
		<table class="tableNoBorder smallPadding">
			<tr>
				<td class="tdAtrib">Nama Barang</td>
				<td>
					<textarea id="inputNamaBarangBeli" name="NamaBarang" cols="30" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td class="tdAtrib">Nama Brand</td>
				<td>
					<textarea id="inputNamaBrandBeli" name="NamaBrand" cols="30" rows="1"></textarea>
				</td>
			</tr>
			<tr>
			<tr>
				<td class="tdAtrib">Kategori</td>
				<td>
					<div class="input-field containerSelect valign-wrapper" style="background-color:transparent">
						<select id="selectKategoriBeli">
							<option value="1">Elektronik</option>
						</select>
					</div>					
				</td>
			</tr>
			<tr>
				<td class="tdAtrib">Supplier</td>
				<td>
					<textarea id="inputSupplierBeli" name="NamaSupplier" cols="30" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td class="tdAtrib">Kuantitas</td>
				<td>
					<input id="inputKuantitasBeli" type="number" value="1" min="1" style="width: 50px"/>
				</td>
			</tr>
			<tr>
				<td class="tdAtrib">Catatan</td>
				<td>
					<textarea id="inputCatatanBeli" class="formLarge" name="Catatan" cols="30" rows="1" placeholder="(opsional)"></textarea>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<a class="modal-close btn-flat left">tutup</a>
		<a href="http://127.0.0.1:8000/file-to-print/print-request-pembelian.pdf" id="btnRequestBeliBarang" class="waves-effect waves-light btn" style="margin-right: 4px;">print</a>
	</div>
</div>
<div id="modalBackup" class="modal">
	<div class="modal-content">
		<h4 class="headerModal">Backup dan Restore Database</h4>
		<table class="tableNoBorder" style="padding: 10px 0 0 100px">
			<tr>
				<td class="tdAtrib">Backup</td>
				<td>
					<a id="btnBackup" class="waves-effect waves-light btn btn-small">unduh</a>
				</td>
			</tr>
			<tr>
				<td class="tdAtrib">Restore</td>
				<td>
					<form id="formRestore">
						<input class="" id="dbRestore" type="file" accept=".sql" name="dbRestore" style="padding:0">
						<input type="submit" id="btnRestore" value="RESTORE" class="waves-effect waves-light btn" style="margin-right: 4px;">
					</form>
				</td>
			</tr>
		</table>
	</div>
</div>