<script type="text/javascript" src="../js/orderList.js"></script>
<h4>Daftar Permintaan Pinjaman Saya</h4>
<ul class="tabs" id="tabOrderList">
  <li class="tab active"><a id="tabMenunggu"><div class="clickable"><i class="material-icons"style="font-size: 35px;">schedule</i><br>menunggu</div></a></li>
  <li class="tab"><a id="tabDisetujui"><div class="clickable"><i class="material-icons"style="font-size: 35px;">check</i><br>disetujui</div></a></li>
  <li class="tab"><a id="tabDitolak"><div class="clickable"><i class="material-icons"style="font-size: 35px;">close</i><br>ditolak</div></a></li>
</ul>
<div style="height:70px;"></div>
<div id="myOrderList">
	<div class="card cardOrderList">
		<div class="card-image">
			<img class="imageOrderList" src="../../images/samsungTab.png">
		</div>
		<table class="tableNoBorder infoOrderList">
		  <tr>
			  <td class="tdAtrib" width="150">Kode</td>
			  <td class="tdInfo">TBL0003</td>
		  </tr>
		  <tr>
			  <td class="tdAtrib">Nama Barang</td>
			  <td class="tdInfo">Samsung Galaxy Tab S3</td>
		  </tr>
		  <tr>
			  <td class="tdAtrib">Untuk Tanggal</td>
			  <td class="tdInfo">10 Januari 2019</td>
		  </tr>
		  <tr>
			  <td class="tdAtrib">Jumlah</td>
			  <td class="tdInfo">1</td>
		  </tr>
	  </table>
	  <div class="right-align tanggalOrderList">3 Januari 2019</div>
	</div>
	<div class="card cardOrderList">
		<div class="card-image">
			<img class="imageOrderList" src="../../images/samsungTab.png">
		</div>
		<table class="tableNoBorder infoOrderList">
		  <tr>
			  <td class="tdAtrib" width="150">Kode</td>
			  <td class="tdInfo">TBL0003</td>
		  </tr>
		  <tr>
			  <td class="tdAtrib">Nama Barang</td>
			  <td class="tdInfo">Samsung Galaxy Tab S3</td>
		  </tr>
		  <tr>
			  <td class="tdAtrib">Untuk Tanggal</td>
			  <td class="tdInfo">10 Januari 2019</td>
		  </tr>
		  <tr>
			  <td class="tdAtrib">Jumlah</td>
			  <td class="tdInfo">1</td>
		  </tr>
	  </table>
	  <div class="right-align tanggalOrderList">3 Januari 2019</div>
	</div>
</div>