	<script type="text/javascript" src="../JS/pengembalianBarang.js"></script>
<body class="kontainer">
  <h4>Pengembalian Barang Inventaris</h4>
	<div style="display:flex; margin-top: 20px;">
		<div class="containerSelectLogo valign-wrapper">
			<i class="material-icons">search</i>
			<p>Cari :</p>
			<div class="input-field containerSelect valign-wrapper z-depth-1">
				<select class="browser-default" id="selectSearchPengembalian">
					<option value="user">Nama Karyawan</option>
					<option value="barang">Nama Barang</option>
				</select>
			</div>
			<div class="input-field containerSearch valign-wrapper z-depth-1">
					<input id="searchInputPengembalian" type="text" placeholder="Ketik nama yang ingin dicari"/>
			</div>	
		</div>
		<div class="containerSelectLogo valign-wrapper">
			<i class="material-icons">sort</i>
			<p>Urutkan :</p>
			<div class="input-field containerSelect valign-wrapper z-depth-1">
				<select id="selectSortPengembalian" class="browser-default refreshpermintaan-trigger ">
					<option value="user">Nama Karyawan</option>
					<option value="barang">Nama Barang</option>
				</select>
			</div>
		</div>
		<div class="containerSelectLogo valign-wrapper">
			<i class="material-icons">dashboard</i>
			<p>Kategori :</p>
			<div class="input-field containerSelect valign-wrapper z-depth-1">
				<select id="selectKategoriPengembalian" class="browser-default kategoriSelectorTable refreshpermintaan-trigger">
					<option value="All">Semua Kategori</option>
				</select>
			</div>
		</div>
	</div>
	<div id="whiteBoard"  class="z-depth-2"  style="position:absolute">
		<table class="highlight noPadding">
			<thead>
				<tr>
          <th style="width: 50px; padding-top: 7px;"><p><label><input type="checkbox" id="cbxAllBack" class="cbxBack"/><span></span></label></p></th>
          <th>ID Satuan</th>
					<th>ID Barang</th>
					<th>Nama Barang</th>
          <th>Kategori Barang</th>
					<th>Nama Karyawan</th>
					<th>Tanggal Pinjam</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="tabelKembaliBarang">
			</tbody>
		</table>
		<a class="waves-effect waves-light btn right kananBawah disabled" id="terimaTerpilih">terima terpilih</a>
  </div>
</body>