<script type="text/javascript" src="../js/permintaanPembelianList.js"></script>
<h4>Daftar Permintaan Pembelian Barang Saya</h4>
<ul class="tabs" id="tabOrderList" style="text-align: center;">
    <li class="tab active"><a id="tabMenunggu"><i class="material-icons"style="font-size: 35px;">schedule</i><br>menunggu</a></li>
    <li class="tab"><a id="tabSudahDibeli"><i class="material-icons"style="font-size: 35px;">check</i><br>sudah dibeli</a></li>
</ul>
<div style="height:70px;"></div>
<div id="myOrderList">
    <div class="card cardOrderList">
    </div>
</div>